.form-title {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}
.btn-new-form {
  width: 100%;
  background-color: #E6D0C5;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.btn-cancel-form {
  width: 100%;
  background-color: white;
  color: #351926;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #DEE2E6;
  border-radius: 2px;
  margin-bottom: 100px;
}

.btn-new-form:hover {
  background-color: #DDB892;
}
