.banner-show h1 {
  color:$white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  bottom:5px;

}

.main-image {
  position: relative;
}


.description {
  background-color: $white;
  color: $light-pink;
  padding: 16px 16px;
  margin: 16px 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}


.boxalign {
  display: flex;
  flex-flow: row nowrap;
}

.bookingform {
  background-color: $white;
  padding: 16px 16px;
  margin: 16px 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.owner {
  padding: 16px 16px;
  margin: 16px 16px;
  text-align: justify;
}


.btn-retour{
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color:$white;
  color:$light-pink;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid $light-pink;
  transition: background-color 0.3s; border-color: 0.3s;
  font-weight: bolder;
}


.btn-retour:hover {
  background-color: $light-pink;
  border-color: $light-pink;
  color: $white;
}

.card-feature {
  padding-top: 20px;
  padding-left: 20px;
}
#button-return {
  margin-left: 20px;
  margin-bottom: 100px;
}
