<footer class="footbar">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <p><i class="fa fa-phone"></i> 01 23 45 67 89</p>
              <p><i class="fa fa-envelope"></i> info@rentacastle.com</p>
            </div>



            <div class="col-md-4">
                <ul class="list-inline">
                    <li>
                      <a href="facebook">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                    </li>

                    <li>
                      <a href="instagram">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>

                    <li>
                      <a href="twitter">
                        <i class="fab fa-twitter-square"></i>
                      </a>
                    </li>

                    <li>
                      <a href="whatsapp">
                        <i class="fab fa-whatsapp"></i>
                      </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
