<footer class="footbar">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Contact</h3>
                <p>Société : Rent a Castle</p>
                <p>Téléphone : 01 23 45 67 89</p>
                <p>Email : info@rentacastle.com</p>
            </div>
            <div class="col-md-4">
                <h3>Liens Utiles</h3>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">À Propos</a></li>
                    <li><a href="#">Châteaux</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
