<div class="footer">
  <div class="footer-contact">
    <p>Contactez-nous:</p>
    <p><i class="fa fa-phone"></i> 01 23 45 67 89 </p>
    <p><i class="fa fa-envelope"></i> info@rentacastle.com</p>
  </div>
  <div class="footer-links"> Suivez-nous:
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
