<div class="container mt-3">
  <%= form_with(url: castles_path, method: :get, local: true, class: "mb-3") do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Rechercher par nom ou ville" %>
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
  <% end %>
</div>

<div class="banner">
  <div class="content">
      <h1>A vous la vie de château</h1>
    <%= link_to "Voir nos châteaux", castles_path, class:"btn-banner" %>
  </div>
</div>
