.footbar {
  background-color:$white;
  color:$light-pink;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.footbar p {
  margin: 0;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
  margin-left: 0;
}
.list-inline i {
  font-size: 40px;
  color: $light-pink;
}
.list-inline i:hover {
  color: $goldenrod;
}
