.mapboxgl-popup {
  max-width: 300px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0
}


.logo:hover {
  transform: scale(1.2);
  filter: hue-rotate(25deg) brightness(0.8);
}
