<div class="form-title">
  <h1>Ajouter mon château</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 offset-lg-4">

      <%= render "form", castle: @castle %>

      <div class="mt-3">
        <div class="btn-cancel-form"><%= link_to "Retour à la liste", castles_path %></div>
      </div>
    </div>
  </div>
</div>
