<div class="container mb-3 mt-3">
  <h2><strong><%= @castle.name %></strong></h2>
  <%= cl_image_tag @castle.photo.key, width: 400, height: 300, crop: :fill %>
  <div class="mt-3">
    <p><%= @castle.description %></p>
</div>
</div>
